{% extends 'base.html' %}


<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    


/* Style for the confirmation pop-up */
  .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.7);
      justify-content: center;
      align-items: center;
  }

  .confirmation-box {
          background-color: #fff;
          padding: 20px;
          border-radius: 5px;
          text-align: center;
      }

      .confirmation-box button {
          margin: 5px;
      }
</style>

  
{% block content %}
    <h2>Cost of Goods sold</h2>
    
    
    <br>
    <table class='table'>
        <thead>
            <tr>
                <th>Date/Time</th>
                <th>Category</th>
                <th>Item Name</th>
                <th>Sale Quantity</th>
                <th>Stock Rate</th>
                <th>Total Values</th>
                <th>Delete/Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in all_sales %}
                <tr>
                    <td>{{ sale.Date_time }}</td>
                    <td>{{ sale.stock.category }}</td>
                    <td>{{ sale.stock.item_name }}</td>
                    <td>{{ sale.sale_quantity }}</td>
                    <td>{{ sale.stock.rate }}</td>
                    <td>{{ sale.total_values }}</td>

                    <td>
                        <a href="{% url 'edit_sale' sale.id %}"class="btn btn-secondary btn-sm" style="width: 80px; height: 30px;">✏️Edit</a>
                        |
                        <a href="{% url 'delete_sales' sale.id %}" class="btn btn-danger btn-sm" style="width: 80px; height: 30px;">🗑️Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
   



